<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Off the hook</title>
    <script src="{{ url_for('static',    filename='JavaScript/script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">

  </head>


  <body>
    <div>
    <input type="text" id="url_input">
    <button onclick="myFunction()">Try it</button>
  </div>

    url length
    <p id="url_length"></p>

    checking for @ symbol
    <p id="at_symbol"></p>

    having an IP address
    <p id="ip_address"></p>

    double slash redirecting
    <p id="slashing"></p>

    prefix
    <p id="prefix"></p>

    ssl final state
    <p id="ssl"></p>

    https token
    <p id="https"></p>

    sfh
    <p id="sfh"></p>

    input for model
    <p id="model_input"></p>


  </body>

</html>
