<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Off the hook</title>
  <script src="{{ url_for('static',    filename='JavaScript/script.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">

</head>


<body background="images/milkovi-kYlYwQze5vI-unsplash.jpg">
  <center>
    <form action='/predict' method="post" class="model_data">
    <h1>Enter URL below to find out if it is a phishing website or not</h1>
    <div>
    <input type="text" id="url_input">
    <br>
    <button onclick="myFunction()">Try it</button>
  </div>

  <br>

  <input name="1" type="text" id="IP" value=" ">
  <input name="2" type="text" id="url" value=" ">
  <input name="3" type="text" id="at" value=" ">
  <input name="4" type="text" id="slash" value=" ">
  <input name="5" type="text" id="prefixes" value=" ">
  <input name="6" type="text" id="SSL" value=" ">
  <input name="7" type="text" id="token" value=" ">
  <input name="8" type="text" id="SFH" value=" ">


  <br>
  <h1>{{pred}}</h1>
  <br>

</form></center>


</body>



</html>
